
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif; 
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    margin: 0;
    
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: solid white 5px;
    margin: 20px;
    max-width: 100px;
    height: auto;
    
}

.description {
    background-color: #1F2937
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8 ;
}

h2 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 20px;
}

ul {
    display: flex;
    gap: 20px;
    padding: 20px;
    list-style: none;  
}

a {
    text-decoration:none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 500;
    
}

.subtext {
    padding: 10px;
    color: #F9FAF8;
    font-size: 24px;
    margin: 10px;

}

.sign-up {
    color: white;
    font-size: 25px;
    background-color: #3882F6;
    padding: 10px;
    margin: 20px;
    flex-shrink: 0;
    border: solid #E5E7EB 1px;

}

.sign-up:hover {
    background-color: #3882F6;
}

.sign-up:active {
    background-color: #1F2937;
}

.bottom-header {
    display: flex;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color:white ;
    justify-items: center;
    align-items: center;
}

h3 {
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;

}

.bottom-header-image {
    padding: 40px;
}

.main-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 100%;
}

.main-image {
    display: flex;
    padding: 10px;
    width: auto;
    border:#3882F6 solid 3px;
    max-width:25%;
    height: auto;
    

}

.quote-container {
    background-color: #E5E7EB ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    margin-top:50px;
    

}

.quote {
    font-size: 36px;
    font-weight: 300;
    margin-top: 20px;
}

.quote-name {
    font-weight: 900;
    font-size: 36px;
    align-self: flex-end;
    padding-right: 20px;
    margin-right: 40px;
    margin-top: -20px;
}

.bottom-page {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 20px;
}

.action {
    font-weight: 800;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    color: #E5E7EB;
}
